<div >

  <div class="category-filter d-flex align-items-center justify-content-around  pt-2 pb-2">
    <div>
    <label>Catégorie Filter</label>
    <select [(ngModel)]="selectedCategory" (ngModelChange)="onChangeCategoryFilter()">
      <option value="">Toutes</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>
  <div class="cart-container">

    <a routerLink="/cart" class="cart-link">
      Panier
      <i class="material-icons">shopping_cart</i>
 
      <em class="cart-items position-relative">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
          {{cartItems.length}}
         
        </span>
      </em>
      
    </a>
  </div>
  </div>
  <div class="container mt-3">
  <div class="row">
    <div *ngFor="let product of filteredList" class="col-sm-12 col-md-4 col-lg-4">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>
</div>
